form{
    display: flex;
    justify-content: center;
    width: 736px;
    height: 54px; 
    margin-top: -27px;
}

form input{
    width: 638px;
    height: 3.37rem;
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    background: var(--gray-500);
    padding: 1rem;
    color: var(--gray-300);
    outline: none;
}

form input:focus{
    color: var(--gray-100);
}

form button[type="submit"]{
    width: 5.6rem;
    margin-left: 8px;
    background-color: var(--blue-dark);
    border: 1px solid var(--blue-dark);
    border-radius: 8px;
    color: var(--gray-100);
    font-weight: 700;
    font-size: 0.875rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button[type="submit"]:hover{
    background-color: var(--blue);
    transition: 0.7s;
}

form button[type="submit"] svg{
    width: 15px;
    height: 15px;
    margin-left: 8px;
}

.counter{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.counter p,span{
    font-size: 0.875rem;
}

.counter p{
    display: inline-block;
    font-weight: 700;
    color: var(--blue);
}

.counter span{
    justify-content: center;
    background-color: var(--gray-400);
    border-radius: auto;
    color: var(--gray-200);
    padding: 2px;
}

.counterNumber{
    width: 52px;
    height: 19px;
    border-radius: 8px;
    margin-left: 8px;
}

.noTodos{
    border-top: 1px solid var(--gray-300);
}

.todos, .noTodos{
    display: flex;
    margin-top: 16px;
    border-radius: 8px;

}

.todos{
    flex-direction: column;
}

.noTodos{
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
}

.noTodos svg{
    width: 56px;
    height: 56px;
} 

.noTodos strong{
    padding-top: 16px
}

.noTodos strong, p{
    font-size: 1rem;
} 

