.todo{
    display: flex;
    gap: 1rem;
    flex: 1;
    height: 72px;
    border-radius: 8px;
    background: var(--gray-500);
    font-size: 0.875rem;
    margin-bottom: 12px;
    padding: 16px 52px;
}

.todo input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    width: 24px;
    height: 24px;
    border: 2px solid var(--blue);
    border-radius: 100%;
    transform: translateY(-0.075em);
    cursor: pointer;
    display: grid;
    place-content: center;
}


.todo input[type="checkbox"]:checked{
    background: var(--purple-dark);
    border-radius: 100%;
    width: 16px;
    height: 16px;
    border: 2px solid var(--purple-dark);
    cursor: pointer;  
    /* transform-origin: bottom left; */
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    
}


.todo svg{
    cursor: pointer;
    width: 24px;
    height: 24px;
}

